<!-- strat side bar  -->
<mat-card class="nav">
<button mat-button ><a [routerLink]="'/payment'">payment</a>
</button>


<button mat-button ><a [routerLink]="'/add'"> Our work</a></button>
 
<button mat-button ><a [routerLink]="'/add'">About us </a></button>
 

<button mat-button ><a [routerLink]="'/add'">Contact</a></button>
 
</mat-card>
<!-- end side bar  --> 
<div class="MianBody">
  <!-- <div class="mainTitle">
    <h1> Website Name </h1>
  </div> -->
  <router-outlet></router-outlet>

</div>
 <!-- //trt -->