
.table-container
{
    background: white;
    width: 92%;
    margin: 49px 4%;
    box-shadow: 4px -3px 17px #9a9797, -4px 6px 14px #9a9797;
    
.add{
    
    padding: 52px 77px 9px 55px;
   button 
   {
     float: right;
    background: red;
    a 
    {
         color: white;
         text-decoration: none;
         font-weight: bold;
    }
   }
   span 
   {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
   }
}
table 
{
    width: 92%;
    margin: 22px 45px;
}
}
.search
{
    background-color: aqua;
}